# dependencies
/node_modules
/env
/src/databases/__pycache__
/src/databases/tables/__pycache__

# testing
/coverage
.pytest_cache
/src/databases/.pytest_cache

# database
/src/databases/-- SQLite.sql

# vscode
/.vscode/

# local env files
.env
.env.development