body {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  color: white;
  background: linear-gradient(180deg, #102847 0%, #4A6E8B 100%);
  overflow-x: hidden;
}

.title {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  height: 100%;
  width: 100vw;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 35vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(3px);
}

.modal-content {
  background: #D9D9D9;
  border-radius: 15px;
  margin: auto;
  padding: 50px 20px;
  border: none;
  width: 500px;
}

.modal-content p {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.button-modal {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.button-ok {
  width: 100px;
  background: white;
  border-radius: 15px;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  color: black;
}

.sub-container {
  width: 100%
}

.nav-row {
  width: 55%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding-left: 5%;
}

.fa-arrow-left {
  font-size: 25px;
  cursor: pointer;
}

.logo-riil {
  width: 200px;
  justify-items: center;
}

.keterangan{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;

}

.contents-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;

  margin-left: 40px;
  margin-top: 20px;
}

.items-col {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 40px;
}

.items-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.input-label {
  font-size: 14px;
  font-weight: bold;
  line-height: 8px;
}

::placeholder{
  color: #FFFFFF;
}

.form-input {
  text-align: left;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  color: white;
  width: 500px;
  height: 40px;
  border: none;
  padding-left: 10px;
}

.form-wrapper {
  display: flex;
  width: 240px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.name {
  width: 400px !important;
}

.item-form-label {
  font-size: 14px;
  font-weight: bold;
}

.item-form {
  text-align: left;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  color: white;
  width: 100%;
  height: 40px;
  border: none;
  padding-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}

.plus {
  position: absolute;
  background: transparent;
  border: none;
  color: #D9D9D9;
  font-size: 30px;
  margin-left: 15px;
  margin-top: -5px;
  cursor: pointer;
}

.minus {
  position: absolute;
  background: transparent;
  border: none;
  color: #D9D9D9;
  font-size: 30px;
  margin-left: 210px;
  margin-top: -5px;
  cursor: pointer;
}
.contents-input {
  margin-top: 0px;
  margin-bottom: 0px;      
}

.upload-icon {
  margin-left: 10px;
  cursor: pointer;
}

.label-gambar {
  margin-left: 20px;
  font-size: 13px;
  cursor: pointer;   
}

.button-row {
  display: flex;
  justify-content: center;
  width: 100%;

  margin-top: 40px;
  margin-bottom: 30px;
}

.btn-submit {
  width: 300px;
  height: 40px;

  background: #000000;
  color: white;
  border-radius: 10px;

  font-weight: bold;
  font-size: 15px;

  border: none;

  cursor: pointer;
}

.add-item {
  width: 300px;
  height: 40px;

  background: white;
  color: black;
  border-radius: 10px;

  font-weight: bold;
  font-size: 30px;
  text-align: center;

  border: none;

  cursor: pointer;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: black !important;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: black !important;
  color: #ffffff;
}