body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Inter";
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 35vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(3px);
}

.modal-content {
  background: #D9D9D9;
  border-radius: 15px;
  margin: auto;
  padding: 50px 20px;
  border: none;
  width: 500px;
}

.modal-content p {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.button-modal {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.button-delete {
  width: 100px;
  background: #EA4A4A;
  border-radius: 15px;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  color: white;
}

.button-cancel {
  width: 100px;
  background: white;
  border-radius: 15px;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  color: black;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.nav-row {
  width: 100%;
  padding: 30px 0px 30px 40px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.button-nav {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 80px;
}

.nav-button {
  background: rgba(217, 217, 217, 0.37);
  border-radius: 15px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  color: #979797;
}

.nav-button-delete {
  background: #EA4A4A;
  border-radius: 15px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  color: white;
}

.fa-arrow-left {
  color: #979797;
  font-size: 25px;
  cursor: pointer;
}

.logo-riil{
  width:250px;
  margin-top: -20px;
}

.product-detail {
  display: flex;
  flex-direction: column;
  padding: 30px 70px 30px 70px;
}

.product-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-image img {
  width: 300px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: black;
  padding-left: 50px;
}

.product-info-label {
  font-weight: bold;
  font-size: 16px;
}

.product-info-name {
  margin-top: 15px;
  font-size: 20px;
}

.none {
  display: none !important;
}