body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Inter";
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-row {
  width: 100%;
  padding: 30px 0px 30px 40px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.button-nav {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 80px;
}

.nav-button {
  background: rgba(217, 217, 217, 0.37);
  border-radius: 15px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  color: #979797;
}

.nav-button-delete {
  background: #EA4A4A;
  border-radius: 15px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  color: white;
}

.fa-arrow-left {
  font-size: 25px;
  cursor: pointer;
}

.logo-riil{
  width:250px;
  margin-top: -20px;
}

.product-detail {
  display: flex;
  flex-direction: column;
  padding: 30px 70px 30px 70px;
}

.product-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-image img {
  width: 300px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: black;
  padding-left: 50px;
}

.product-info-label {
  font-weight: bold;
  font-size: 16px;
}

.product-info-name {
  margin-top: 15px;
  font-size: 20px;
}

.none {
  display: none !important;
}