body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Inter";
    overflow-x: hidden;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 35vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(3px);
  }
  
  .modal-content {
    background: #D9D9D9;
    border-radius: 15px;
    margin: auto;
    padding: 50px 20px;
    border: none;
    width: 500px;
  }
  
  .modal-content p {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
  }
  
  .button-modal {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
  }
  
  .button-ok {
    width: 100px;
    background: white;
    border-radius: 15px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    color: black;
  }
  
  .nav-row {
    width: 100%;
    padding: 30px 0px 30px 40px;
    align-items: center;
    display: flex;
    gap: 50px;
  }
  
  .fa-arrow-left {
    color: #979797;
    font-size: 25px;
    cursor: pointer;
  }
  
  .logo-riil{
    width:250px;
    margin-top: -20px;
  }
  
  .add-transaction {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .add-button {
    background: rgba(217, 217, 217, 0.37);
    border-radius: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .add-button p {
    font-weight: 700;
    font-size: 20px;
    color: #979797;
    margin:10px;
  }
  
  .fa-plus {
    font-size: 25px;
    color: #C2C2C2;
  }
  
  .transaction-section {
    display: flex;
    flex-direction: column;
    padding: 30px 70px 30px 70px;
    margin-bottom: 50px;
  }
  
  .transaction-subtitle {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .sort {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
  }

  .fa-arrow-down {
    color: #979797;
    cursor: pointer;
  }

  .fa-arrow-up {
    color: #979797;
    cursor: pointer;
  }
  
  .transaction-type {
    font-weight: 700;
    font-size: 20px;
  }
  
  .sort-title {
    font-weight: 500;
    font-size: 20px;
    color: #979797;
    cursor: pointer;
  }
  
  .tables-wrapper {
    display: flex;
    width: 100%;
    margin-top: 30px;
  }
  
  table {
    font-family: Inter, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
  }
  
  td, th, .item-row {
    border: 0px solid #dddddd;
    text-align: center;
    padding: 20px;
  }
  
  .row-table {
    background-color: #979797;
    color : white;
  }

  .row-table-modal { 
    background-color: white;
    color : black;
  }

  .col-row-first {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .col-row-last {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .none {
    display: none !important;
  }